:root {
    --title-color: #4a3572; /*#322153*/
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* evita que o padding aumente o tamanho da caixa automaticamente ao adicionar uma medida de largura, ou seja, o padding fica dentro da caixa com o tamanho desejado */
} /*referencia todos os seletores*/

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(40, 40, 40); /*#f0f0f5*/
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none; /*tira o sublinado do hiperlink*/
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

/* BOX MODEL

Modelo de caixa
Toda caixa tem:
Altura, largura, espaçamentos, preenchimentos
Cor, bordas, fundo, maneira que é vista pelo html (display)
Alinhamentos, posicionamento

*/