#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto; /* padrão de alinhamento de caixa pelo lado de fora (pelo ladro de dentro é o display flex (Top,botom) (Left,right) */
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: darkgrey;
    
    margin: 80px auto;
    padding: 64px; /* tamanho preenchimento */

    border-radius: 8px 25px;

    max-width: 730px;

}

#page-create-point form h1 {
    color:  #322153;
    font-size: 36px;
}

#page-create-point form fieldset {
    margin-top: 64px;

    border: 0;
}

#page-create-point form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

#page-create-point form legend h2 {
    font-size: 24px;
}

#page-create-point form legend span {
    font-size: 14px;
    color: var(--title-color);
}

#page-create-point form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

#page-create-point form .field-group {
    display: flex;
}

#page-create-point form input, 
#page-create-point form select {
    background-color: rgb(145, 145, 145);

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;

    outline: none; /* tira a borda exterior da caixa */ 
}

#page-create-point form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page-create-point form label {
    font-size: 14px;
    margin-bottom: 8px;
}

#page-create-point form .field-group .field + .field {
    margin-left: 24px;
} /* trata apenas o field número/complemento */

#page-create-point form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px 25px;

    color: #f0f0f5;
    font-weight: bold;
    font-size: 16px;

    border: 0;
    margin-top: 40px;    

    transition: background-color 400ms;

    outline: none;
}

#page-create-point form button:hover {
    background-color: #2fb86e;
}

#page-create-point .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

#page-create-point .items-grid li {
    background-color: rgb(145, 145, 145);
    list-style: none;

    border: 2px solid rgb(145, 145, 145);
    border-radius: 8px;

    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

#page-create-point .items-grid li span {
    margin-top: 12px;
    
    flex: 1;
    display: flex;
    align-items: center;

    color: var(--title-color);
    font-weight: bold;
}

#page-create-point .items-grid li.selected {
    background: #bfd4c8;
    border: 2px solid #34cb79;
}

#page-create-point .items-grid li img,
#page-create-point .items-grid li span {
    pointer-events: none;
}