#modal {
    background: #0e0a14ef;
    
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: darkgrey;

    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 48px;
}

#modal .header a {
    background-image: url("../assets/x.svg");

    width: 20px;
    height: 20px;

    display: flex;

    font-size: 0.01px; /* para acessibilidade */
}

#modal .header h1 {
    color: darkgrey;

    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;

    display: block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;

    background-color: #333333;

    border-radius: 8px 0 0 25px;
    border: 0;

    padding: 16px 24px;

    font-size: 16px;
    color: darkgray;

    outline: none;
}

#modal form button {
    width: 72px;
    height: 72px;

    background-color: var(--primary-color);

    border: 0;
    border-radius: 0 25px 8px 0;

    outline: none;
}

#modal form button:hover {
    background-color: #2fb86e;

    transition: 400ms;
}

/* Para o modal point-created */

#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition-delay: 400ms; /* não está funcionando, quero fazer uma transição suave entre as telas */
}

#modal.point h1 {
    color: darkgrey;

    margin-top: 32px;
}